a.site-title {
  font-weight: 500;
  color: var(--color-heading);

  &:focus,
  &:hover {
    border-color: inherit;
    color: inherit;
  }
}

.toggle-bar {
  display: flex;
  justify-content: end;
  padding-top: 1.5em;
}

.toggle-icon {
  color: var(--color-heading);

  &:focus,
  &:hover {
    cursor: pointer;
    border: none;

    svg circle,
    svg path {
      stroke-width: 0.1em;
    }
  }
}

.message {
  padding: 0.25em 1em;
  border-radius: 0.25em;
  background-color: var(--color-mark);
  color: var(--color-text);
}

dd {
  padding-left: 0.5em;
}

.archive ul,
.contact ul {
  list-style-type: none;
  padding: 0;
}

.li-icon {
  margin-right: 0.25em;
}

a.iconlink {
  svg circle,
  svg path {
    stroke: var(--color-link);
  }

  &:focus,
  &:hover {
    border: none;

    svg circle,
    svg path {
      stroke-width: 0.1em;
    }
  }
}

.footnotes {
  margin-top: 2em;

  p {
    margin: 0;
  }

  &::before {
    content: "Notes";
  }
}

a[href^="#fn:"] {
  margin-left: 0.1em;
  font-weight: 500;

  &:focus,
  &:hover {
    font-weight: 700;
    border: none;
  }
}

a.reversefootnote {
  font-weight: 500;

  &:focus,
  &:hover {
    font-weight: 700;
    border: none;
  }
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.project-card {
  background: #5d7e2c;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.project-card.highlight {
  border: 2px solid #6C4727;
  background: #976436;
}

.project-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.tags-container {
  text-align: center;
  margin-bottom: 30px;
}

.tags-list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  list-style: none;
  padding: 0;
}

.tag-item {
  background: #6C4727;
  color: #ffffff;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.tag-item:hover {
  background: #384b1b;
  transform: scale(1.1);
}

/* Reset button color */
.tag-item.reset {
  background-color: #5d7e2c;
  color: #ffffff;
}

.tag-item.reset:hover {
  background-color: #384b1b; /* Change on hover */
  transform: scale(1.1);
}